excludes=**/docs,**/doc,**/test,**/tests,**/testing,**/demos,**/python-build-currency.txt, **/test_requirements.txt, **/test-requirements.txt, **/doc-requirements.txt, **/dev-requirements, **/dev-requirements.txt, ,**/linter_requirements.txt, **/lint_requirements.txt, **/docs_requirements.txt, **/doc-requirements.txt, **/docs-requirements.txt, **/docs_requirements.txt, **/devel-requirements.txt, **/.readthedocs-requirements.txt, **/maint
python.resolveDependencies=true
conda.resolveDependencies=false
python.runPoetryPreStep=false
python.includePoetryDevDependencies=false
python.invokePipAsModule=true
python.pipPath=pip3
python.path=python3.8
